<!DOCTYPE html>
<html>
<head>
  <title>LocalMarket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-example-id="" class="bs-example bs-navbar-top-example">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="bs-example-navbar-collapse-6" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in?  %>
            <li>
              <%= link_to "Logout".html_safe, destroy_user_session_path, method: 'delete', data: { confirm: 'Sign out?' } %>
            </li>
          <% else %>
            <li class="<%= (controller_name.to_sym == :sessions && action_name.to_sym == :new) ? 'active' : ''%>">
              <%= link_to "Sign In", new_user_session_path  %>
            </li>
            <li class="<%= (controller_name.to_sym == :registrations && action_name.to_sym == :new) ? 'active' : ''%>">
              <%= link_to "Sign Up", new_user_registration_path, :method => :get %>
            </li>
          <% end %>
         </ul>
       </div>
     </div>
   </nav>
 </div>
 <div class="container padding_top_0"  style="margin-bottom:50px;">
   <div class="row">
     <div class="span12">
       <%= render "layouts/messages" %>
       <%= yield %>
       <div id="add_user_data"></div>
     </div>
   </div><!--/row-->
 </div> <!-- /container -->
</body>
</html>
